<template>
  <div>
    <Head :title="$trans('homes.create_user')" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-sky-600 hover:text-sky-600" href="/homes">{{ $trans('homes.homes') }}</Link>
      <span class="font-medium text-sky-600">/</span> {{ $trans('homes.create') }}
    </h1>
    <div class="max-w-3xl overflow-hidden bg-white rounded-md shadow">
      <form @submit.prevent="store">
        <div class="flex flex-wrap p-8 -mb-8 -mr-6">
          <text-input v-model="form.name" :error="form.errors.name" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('homes.name')" />
          <select-input v-model="form.home_status_id" :error="form.errors.home_status_id" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('homes.construction_status')">
            <option value="">{{ $trans('homes.select_construction_status') }}</option>
            <option v-for="status in homeStatuses" :key="status.id" :value="status.id">{{ status.name.charAt(0).toUpperCase() + status.name.slice(1) }}</option>
          </select-input>
          <date-picker v-model="form.completion_date" :error="form.errors.completion_date" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('homes.expected_completion_date')" />
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-white border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-black" type="submit">{{ $trans('homes.create_home') }}</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import DatePicker from '../../Shared/DatePicker.vue'


export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    DatePicker,
  },
  layout: Layout,
  remember: 'form',
  props: {
    homeStatuses: Array,
  },
  data() {
    return {
      form: this.$inertia.form({
        name: '',
        home_status_id: '',
        completion_date: ''
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/homes')
    },
  },
}
</script>
