<template>
  <div>
    <Head :title="`${form.name}`" />
    <div class="flex justify-start mb-8 max-w-3xl">
      <h1 class="text-3xl font-bold">
        <Link class="text-sky-600 hover:text-sky-600" href="/homes">{{ $trans('homes.homes') }}</Link>
        <span class="text-sky-600 font-medium">/</span>
        {{ form.name }}
      </h1>
    </div>
    <trashed-message v-if="home.deleted_at" class="mb-6" @restore="restore"> {{ $trans('homes.this_home_has_been_deleted') }} </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" :label="$trans('homes.name')" />
          <select-input v-model="form.home_status_id" :error="form.errors.home_status_id" class="pb-8 pr-6 w-full lg:w-1/2" :label="$trans('homes.construction_status')">
            <option value="">{{ $trans('homes.select_construction_status') }}</option>
            <option v-for="status in homeStatuses" :key="status.id" :value="status.id" :selected="(status.id == form.status_id ? 'selected' : '')">{{ status.name.charAt(0).toUpperCase() + status.name.slice(1) }}</option>
          </select-input>
          <date-picker v-model="form.completion_date" :error="form.errors.completion_date" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('homes.expected_completion_date')" />
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!home.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">{{ $trans('homes.delete_home') }}</button>
          <loading-button :loading="form.processing" class="btn-black ml-auto" type="submit">{{ $trans('homes.update_home') }}</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'
import DatePicker from '../../Shared/DatePicker.vue'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
    DatePicker,
  },
  layout: Layout,
  props: {
    home: Object,
    homeStatuses: Array,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        name: this.home.name,
        completion_date: this.home.completion_date,
        home_status_id: this.home.home_status_id,
      }),
    }
  },
  methods: {
    update() {
      this.form.post(`/homes/${this.home.id}`, {
        onSuccess: () => '',
      })
    },
    destroy() {
      if (confirm(this.$trans('homes.are_you_sure_you_want_to_delete_this_home'))) {
        this.$inertia.delete(`/homes/${this.home.id}`)
      }
    },
    restore() {
      if (confirm(this.$trans('homes.are_you_sure_you_want_to_restore_this_home'))) {
        this.$inertia.put(`/homes/${this.home.id}/restore`)
      }
    },
  },
}
</script>
