<template>
  <div>
    <Head :title="`${form.name}`" />
    <div class="flex justify-start max-w-3xl mb-8">
      <h1 class="text-3xl font-bold">
        <Link class="text-sky-600 hover:text-sky-600" href="/homes">{{ $trans('homes.homes') }}</Link>
      <span class="font-medium text-sky-600">/</span>
      <Link class="text-sky-600 hover:text-sky-600" href="/homes?select_tab=construction_statuses">{{ $trans('homes.construction_statuses') }}</Link>
        <span class="font-medium text-sky-600">/</span>
        {{ $trans('homes.construction_status') }}
        <span class="text-gray-800">/</span>
        {{ form.name }}
      </h1>
    </div>
    <trashed-message v-if="homeStatus.deleted_at" class="mb-6" @restore="restore"> {{ $trans('homes.this_status_has_been_deleted') }} </trashed-message>
    <div class="max-w-3xl overflow-hidden bg-white rounded-md shadow">
      <form @submit.prevent="update">
        <div class="flex flex-wrap p-8 -mb-8 -mr-6">
          <text-input v-model="form.name" :error="form.errors.name" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('homes.status_name')" />
        </div>
        <div class="flex items-center px-8 py-4 border-t border-gray-100 bg-gray-50">
          <button v-if="!homeStatus.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">{{ $trans('homes.delete_status') }}</button>
          <loading-button :loading="form.processing" class="ml-auto btn-black" type="submit">{{ $trans('homes.update_status') }}</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    homeStatus: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        name: this.homeStatus.name,
        deleted_at: this.homeStatus.deleted_at,
      }),
    }
  },
  methods: {
    update() {
      this.form.post(`/homes/status/${this.homeStatus.id}`, {
        onSuccess: () => '',
      })
    },
    destroy() {
      if (confirm(this.$trans('homes.are_you_sure_you_want_to_delete_this_construction_status'))) {
        this.$inertia.delete(`/homes/status/${this.homeStatus.id}`)
      }
    },
    restore() {
      if (confirm(this.$trans('homes.are_you_sure_you_want_to_restore_this_construction_status'))) {
        this.$inertia.put(`/homes/status/${this.homeStatus.id}/restore`)
      }
    },
  },
}
</script>
