<template>
  <div>
    <div class="container mx-auto">
      <ul class="flex leading-6 text-white">
        <li>
          <button @click="setCurrentTab('homes')" :class="tab === 'homes' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2">{{ $trans('homes.homes') }}</button>
        </li>
        <li>
          <button @click="setCurrentTab('construction_statuses')" :class="tab === 'construction_statuses' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2">{{ $trans('homes.construction_statuses') }}</button>
        </li>
      </ul>
    </div>
    <div class="p-3 mt-6 bg-white border">
      <div v-if="tab == 'homes'">
        <Head :title="$trans('homes.homes')" />
        <h1 class="mb-8 text-3xl font-bold">{{ $trans('homes.homes') }}</h1>
        <div class="justify-between mb-6 text-right">
          <Link class="btn-black" href="/homes/create">
            <span>{{ $trans('homes.create') }}</span>
            <span class="hidden md:inline">&nbsp;{{ $trans('homes.home') }}</span>
          </Link>
        </div>
        <div class="overflow-x-auto bg-white rounded-md shadow">
          <table class="w-full whitespace-nowrap">
            <tr class="font-bold text-left">
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.name') }}</th>
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.expected_completion_date') }}</th>
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.construction_status') }}</th>
            </tr>
            <tr v-for="home in homes" :key="home.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/homes/${home.id}/edit`">
                  {{ home.name }}
                  <icon v-if="home.deleted_at" name="trash" class="flex-shrink-0 w-3 h-3 ml-2 fill-gray-400" />
                </Link>
              </td>
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/homes/${home.id}/edit`">
                  {{ home.completion_date }}
                </Link>
              </td>
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/homes/${home.id}/edit`">
                  {{ home.status_name }}
                </Link>
              </td>
              <td class="w-px border-t">
                <Link class="flex items-center px-4" :href="`/homes/${home.id}/edit`" tabindex="-1">
                  <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                </Link>
              </td>
            </tr>
            <tr v-if="homes.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">{{ $trans('homes.no_homes_found') }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div v-if="tab == 'construction_statuses'">
        <Head :title="$trans('homes.construction_statuses')" />
        <h1 class="mb-8 text-3xl font-bold">{{ $trans('homes.construction_statuses') }}</h1>
        <div class="justify-between mb-6 text-right">
          <Link class="btn-black" href="/homes/create/status">
            <span>{{ $trans('homes.create') }}</span>
            <span class="hidden md:inline">&nbsp;{{ $trans('homes.new_status') }}</span>
          </Link>
        </div>
        <div class="overflow-x-auto bg-white rounded-md shadow">
          <table class="w-full whitespace-nowrap">
            <tr class="font-bold text-left">
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.status_name') }}</th>
            </tr>
            <tr v-for="status in statuses" :key="status.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/homes/status/${status.id}/edit`">
                  {{ status.name }}
                  <icon v-if="status.deleted_at" name="trash" class="flex-shrink-0 w-3 h-3 ml-2 fill-gray-400" />
                </Link>
              </td>
              <td class="w-px border-t">
                <Link class="flex items-center px-4" :href="`/homes/status/${status.id}/edit`" tabindex="-1">
                  <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                </Link>
              </td>
            </tr>
            <tr v-if="statuses.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">{{ $trans('homes.no_statuses_found') }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'

export default {
  components: {
    Head,
    Icon,
    Link,
  },
  layout: Layout,
  props: {
    filters: Object,
    homes: Array,
    statuses: Array,
    mySelectedTab: String,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        role: this.filters.role,
        trashed: this.filters.trashed,
      },
      tab: this.mySelectedTab,
    }
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/homes', pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
    setCurrentTab(selectedTab) {
      this.tab = selectedTab
    },
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
