<template>
  <div>
    <div class="p-3 mt-6 bg-white border">
      <div>
        <h2 class="mb-8 text-3xl font-bold">{{ $trans('homes.assign_home') }}</h2>
        <div class="overflow-x-auto bg-white rounded-md shadow">
          <form @submit.prevent="store">
            <div class="flex flex-wrap p-8 -mb-8 -mr-6">
              <text-input v-model="form.first_name" :error="form.errors.first_name" class="w-full pb-8 pr-6 lg:w-1/2" label="First name" />
              <text-input v-model="form.last_name" :error="form.errors.last_name" class="w-full pb-8 pr-6 lg:w-1/2" label="Last name" />
              <select-input v-model="form.organization_id" :error="form.errors.organization_id" class="w-full pb-8 pr-6 lg:w-1/2" label="Organization">
                <option :value="null" />
                <option v-for="organization in organizations" :key="organization.id" :value="organization.id">{{ organization.name }}</option>
              </select-input>
              <text-input v-model="form.email" :error="form.errors.email" class="w-full pb-8 pr-6 lg:w-1/2" label="Email" />
              <text-input v-model="form.phone" :error="form.errors.phone" class="w-full pb-8 pr-6 lg:w-1/2" label="Phone" />
              <text-input v-model="form.address" :error="form.errors.address" class="w-full pb-8 pr-6 lg:w-1/2" label="Address" />
              <text-input v-model="form.city" :error="form.errors.city" class="w-full pb-8 pr-6 lg:w-1/2" label="City" />
              <text-input v-model="form.region" :error="form.errors.region" class="w-full pb-8 pr-6 lg:w-1/2" label="Province/State" />
              <select-input v-model="form.country" :error="form.errors.country" class="w-full pb-8 pr-6 lg:w-1/2" label="Country">
                <option :value="null" />
                <option value="CA">Canada</option>
                <option value="US">United States</option>
              </select-input>
              <text-input v-model="form.postal_code" :error="form.errors.postal_code" class="w-full pb-8 pr-6 lg:w-1/2" label="Postal code" />
            </div>
            <div class="flex items-center justify-end px-8 py-4 border-t border-gray-100 bg-gray-50">
              <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Contact</loading-button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <Head :title="$trans('homes.user_homes')" />
        <h2 class="mb-8 text-3xl font-bold">{{ $trans('homes.user_homes') }}</h2>
        <div class="overflow-x-auto bg-white rounded-md shadow">
          <table class="w-full whitespace-nowrap">
            <tr class="font-bold text-left">
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.user_name') }}</th>
              <th class="px-6 pt-6 pb-4">{{ $trans('homes.home') }}</th>
            </tr>
            <tr v-for="home in user_homes" :key="home.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500">
                  {{ home.user_name }}
                </Link>
              </td>
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500">
                  {{ home.home_name }}
                </Link>
              </td>
              <td class="w-px border-t">
                <Link class="flex items-center px-4" :href="`/revoke/home/access/${home.id}`" tabindex="-1">
                  <icon name="trash" class="block w-6 h-6 fill-gray-400" />
                </Link>
              </td>
            </tr>
            <tr v-if="user_homes.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">{{ $trans('homes.no_homes_found') }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'

export default {
  components: {
    Head,
    Icon,
    Link,
  },
  layout: Layout,
  props: {
    homes: Array,
    userHomes: Array,
    user: Number,
  },
  data() {
    return {
      form: this.$inertia.form({
        user_id: '',
        home_id: '',
      }),
      tab: this.mySelectedTab,
    }
  },
  watch: {},
  methods: {
    store() {
      this.form.post(`/assign/home/user/${this.home}`)
    },
  },
}
</script>
