<template>
  <div>
    <Head :title="$trans('users.create_user')" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-sky-600 hover:text-sky-600" href="/users">{{ $trans('users.users') }}</Link>
      <span class="font-medium text-sky-600">/</span> {{ $trans('users.create') }}
    </h1>
    <div class="max-w-3xl overflow-hidden bg-white rounded-md shadow">
      <form @submit.prevent="store">
        <div class="flex flex-wrap p-8 -mb-8 -mr-6">
          <text-input v-model="form.first_name" :error="form.errors.first_name" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('users.first_name')" />
          <text-input v-model="form.last_name" :error="form.errors.last_name" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('users.last_name')" />
          <text-input v-model="form.email" :error="form.errors.email" label-color="text-gray-500" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('users.email')" />
          <select-input v-model="form.role_id" :error="form.errors.role_id" class="w-full pb-8 pr-6 lg:w-1/2" :label="$trans('users.role')">
            <option value="">{{ $trans('users.select_role') }}</option>
            <option v-for="role in roles" :key="role.id" :value="role.id">{{ role.name.charAt(0).toUpperCase() + role.name.slice(1) }}</option>
          </select-input>
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-white border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-black" type="submit">{{ $trans('users.create_user') }}</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  remember: 'form',
  props: {
    roles: Array,
  },
  data() {
    return {
      form: this.$inertia.form({
        first_name: '',
        last_name: '',
        email: '',
        role_id: '',
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/users')
    },
  },
}
</script>
