<template>
  <div>
    <div class="container mx-auto">
      <!--<ul class="flex text-white leading-6">
        <li>
          <button @click="setCurrentTab('users')" :class="tab === 'users' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2">Users</button>
        </li>
        <li>
          <button @click="setCurrentTab('permission_categories')" :class="tab === 'permission_categories' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2">Permission Categories</button>
        </li>
        <li>
          <button @click="setCurrentTab('permissions')" :class="tab === 'permissions' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2 ">Permissions</button>
        </li>
        <li>
          <button @click="setCurrentTab('roles')" :class="tab === 'roles' ? 'bg-white text-black' : 'bg-sky-500 text-gray hover:text-white hover:bg-sky-400'" class="inline-block px-6 py-2">Roles</button>
        </li>
      </ul>-->
    </div>
    <div class="p-3 mt-6 bg-white border">
      <div v-if="tab == 'users'">
        <Head :title="$trans('users')" />
        <h1 class="mb-8 text-3xl font-bold">{{ $trans('users.users') }}</h1>
        <div class="text-right justify-between mb-6">
          <Link class="btn-black" href="/users/create">
            <span>{{ $trans('users.create') }}</span>
            <span class="hidden md:inline">&nbsp;{{ $trans('users.user') }}</span>
          </Link>
        </div>
        <div class="bg-white rounded-md shadow overflow-x-auto">
          <table class="w-full whitespace-nowrap">
            <tr class="text-left font-bold">
              <th class="pb-4 pt-6 px-6">{{ $trans('users.name') }}</th>
              <th class="pb-4 pt-6 px-6">{{ $trans('users.email') }}</th>
              <th class="pb-4 pt-6 px-6" colspan="2">{{ $trans('users.role') }}</th>
            </tr>
            <tr v-for="user in users" :key="user.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
              <td class="border-t">
                <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/users/${user.id}/edit`">
                  {{ user.name }}
                  <icon v-if="user.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
                </Link>
              </td>
              <td class="border-t">
                <Link class="flex items-center px-6 py-4" :href="`/users/${user.id}/edit`" tabindex="-1">
                  {{ user.email }}
                </Link>
              </td>
              <td class="border-t">
                <Link class="flex items-center px-6 py-4" :href="`/users/${user.id}/edit`" tabindex="-1">
                  {{ user.role_name }}
                </Link>
              </td>
              <td class="w-px border-t">
                <Link class="flex items-center px-4" :href="`/users/${user.id}/edit`" tabindex="-1">
                  <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                </Link>
                <Link v-if="(user.is_tenant)" class="flex items-center px-4" :href="`/assign/home/${user.id}`" tabindex="-1">
                  <icon name="homes" class="block w-6 h-6 fill-gray-400" />
                </Link>
                <Link v-if="(user.is_tenant)" class="flex items-center px-4" :href="`/users/send/email/${user.id}`" tabindex="-1">
                  <icon name="email" class="block w-6 h-6 fill-gray-400" />
                </Link>
              </td>
            </tr>
            <tr v-if="users.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">{{ $trans('users.no_users_found') }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div v-else-if="tab == 'permission_categories'">
        <Head title="Permission Categories" />
        <h1 class="mb-8 text-3xl font-bold">Permission Categories</h1>
        <div class="text-right justify-between mb-6">
          <Link class="btn-black" href="/permission_categories/create">
            <span>Create</span>
            <span class="hidden md:inline">&nbsp;Category</span>
          </Link>
        </div>
        <div class="bg-white rounded-md shadow overflow-x-auto">
          <table class="w-full whitespace-nowrap">
            <tr class="text-left font-bold">
              <th class="pb-4 pt-6 px-6">Name</th>
              <th class="pb-4 pt-6 px-6" colspan="2"></th>
            </tr>
            <tr v-for="category in categories" :key="category.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
              <td class="border-t">
                <Link class="flex items-center px-6 py-4" :href="`/permission_categories/${category.id}/edit`" tabindex="-1">
                  {{ category.name }}
                </Link>
              </td>
              <td class="w-px border-t">
                <Link class="flex items-center px-4" :href="`/permission_categories/${category.id}/edit`" tabindex="-1">
                  <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                </Link>
              </td>
            </tr>
            <tr v-if="categories.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">No users found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  components: {
    Head,
    Icon,
    Link,
    SearchFilter,
  },
  layout: Layout,
  props: {
    filters: Object,
    users: Array,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        role: this.filters.role,
        trashed: this.filters.trashed,
      },
      tab: 'users',
    }
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get('/users', pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
    setCurrentTab(selectedTab) {
      this.tab = selectedTab
    },
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
