<template>
  <div :class="$attrs.class">
    <label v-if="label" class="form-label" :class="$attrs.label - color" :for="id">{{ label }}:</label>
    <Datepicker :id="id" v-bind="{ ...$attrs, class: null }" class="form-input" :class="{ error: error }" :modelValue="date" :enableTimePicker="false" />
    <div v-if="error" class="form-error">{{ error }}</div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { v4 as uuid } from 'uuid'
import Datepicker from 'vue3-date-time-picker'
import 'vue3-date-time-picker/dist/main.css'

export default {
  components: {
    Datepicker,
  },
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `${uuid()}`
      },
    },
    error: String,
    label: String,
    modelValue: Date,
  },
  setup(props) {
    const date = ref(props.modelValue)
    return {
      date
    }
  },
}
</script>
