<template>
    <div class="ml-4">
      <Link class="group flex items-center p-1" :href="`/language/${selectable_locale}`">
            <icon class="mr-2 w-5 h-5" :name="selectable_locale" />
      </Link>
    </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import { Link } from '@inertiajs/inertia-vue3'

export default {
    components: {
        Icon,
        Link,
    },

    computed: {
        selectable_locale() {
            if(this.$page.props.locale == 'ro') {
                return 'en';
            }
            return 'ro'
        }
    },
}
</script>
