<template>
  <div class="grid grid-cols-1 divide-y">
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('users') || isUrl('') ? 'bg-black' : ' '" href="/users">
        <div :class="isUrl('users') || isUrl('') ? 'text-white' : 'text-gray-100 '" class="group-hover:text-white">{{ $trans('users.users') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('homes') ? 'bg-black' : ' '" href="/homes">
        <div :class="isUrl('homes') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('users.homes') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('register-plates') ? 'bg-black' : ' '" href="/register-plates">
        <div :class="isUrl('register-plates') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('plates.registered_plates') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('public-transport') ? 'bg-black' : ' '" href="/public-transport">
        <div :class="isUrl('public-transport') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('transport.public_transport') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('sports-activities') ? 'bg-black' : ' '" href="/sports-activities">
        <div :class="isUrl('sports-activities') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('sports.sports_activities') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('bill-payments') ? 'bg-black' : ' '" href="/bill-payments">
        <div :class="isUrl('bill-payments') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('bills.bill_payments') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('civic-alerts') ? 'bg-black' : ' '" href="/civic-alerts">
        <div :class="isUrl('civic-alerts') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('civic.civic_alerts') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('services') ? 'bg-black' : ' '" href="/services">
        <div :class="isUrl('services') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('services.services') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('air-quality') ? 'bg-black' : ' '" href="/air-quality">
        <div :class="isUrl('air-quality') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('airquality.air_quality') }}</div>
      </Link>
    </div>
    <div class="">
      <Link class="group flex items-center p-3 hover:bg-black" :class="isUrl('marketplace') ? 'bg-black' : ' '" href="/marketplace">
        <div :class="isUrl('marketplace') ? 'text-white' : 'text-gray-100'" class="group-hover:text-white">{{ $trans('market.marketplace') }}</div>
      </Link>
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'

export default {
  components: {
    Icon,
    Link,
  },
  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1)
      if (urls[0] === '') {
        return currentUrl === ''
      }
      return urls.filter((url) => currentUrl.startsWith(url)).length
    },
  },
}
</script>
