<template>
  <Head title="Login" />
  <div class="flex items-center justify-center min-h-screen p-4 bg-white">
    <div class="w-full max-w-md">
      <logo class="block w-24 mx-auto max-w-min fill-white" height="50" />
      <form class="mt-4 overflow-hidden rounded-lg shadow-xl bg-sky-500" @submit.prevent="login">
        <div class="px-10 py-6">
          <language-selector class="float-right" />
          <h1 class="clear-both text-2xl font-bold text-center text-white">{{ $trans('login.welcome_back') }}</h1>
          <div class="w-24 mx-auto mt-4 border-b-2" />
          <text-input v-model="form.email" :error="form.errors.email" class="mt-6 text-white" label-color="text-white" :label="$trans('login.email.label')" type="email" :placeholder="$trans('login.email.enter')" autofocus autocapitalize="off" />
          <text-input v-model="form.password" :error="form.errors.password" class="mt-6 text-white" label-color="text-white" :label="$trans('login.password.label')" :placeholder="$trans('login.password.enter')" type="password" />
          <label class="flex items-center mt-4 text-white select-none" for="remember">
            <input id="remember" v-model="form.remember" class="mr-1" type="checkbox" />
            <span class="text-sm">{{ $trans('login.remember_me') }}</span>
          </label>
        </div>
        <div class="flex px-10 py-4 border-t border-white bg-sky-500">
          <loading-button :loading="form.processing" class="ml-auto btn-black" type="submit">{{ $trans('login.login') }}</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import LoadingButton from '@/Shared/LoadingButton'
import LanguageSelector from '@/Shared/LanguageSelector'

export default {
  components: {
    Head,
    LoadingButton,
    Logo,
    TextInput,
    LanguageSelector,
  },
  data() {
    return {
      form: this.$inertia.form({
        email: '',
        password: '',
        remember: false,
      }),
    }
  },
  methods: {
    login() {
      this.form.post('/login')
    },
  },
}
</script>
